page-index {
	

	ion-slides {
		height: auto;
	}

	ion-content {
		font-style: normal;
	    font-weight: normal;
	    font-size: 12px;
	    font-family: sans-serif;
	    color: #FFFFFF;
	    background-color: #33383a;
	}
}
